<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486879763087-c259f4m9jpjskqg5h8m5j36f083lhbuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486879763087-c259f4m9jpjskqg5h8m5j36f083lhbuo</string>
	<key>API_KEY</key>
	<string>AIzaSyCji0e9cZDbLUCVwhWujbG4cglb7oKUe8A</string>
	<key>GCM_SENDER_ID</key>
	<string>486879763087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.redish.user.adhoc</string>
	<key>PROJECT_ID</key>
	<string>redish-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>redish-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:486879763087:ios:bf4dd709fd3fa530</string>
	<key>DATABASE_URL</key>
	<string>https://redish-dev.firebaseio.com</string>
</dict>
</plist>